* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

.navbar a {
    color: white;
    font-weight: 1000;
}

.navbar-nav a {
    font-size: 17px;
    color: rgb(175, 175, 175);
    font-weight: 1000;
}

.navbar-nav a:hover {
    color: rgb(255, 255, 255);
}

.navbar-nav a:active {
    color: rgb(255, 255, 255);
}

li {
    list-style: none;
}

img {
    width: 315px;
    height: 315px;
    border-radius: 10px;
}

.navbar {
    padding: 1.5rem 2rem;
}

.container {
    display: flex;
}

.navbar-brand {
    font-size: 23px;
    padding-left: 1rem;
}

.navbar-collapse {
    display: flex !important;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    margin-left: auto !important;
}

.nav-link {
    padding: 0 1.5rem;
}

.wrapper {
    display: flex;
    position: fixed;
    width: 900px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
}

.aboutme {
    display: flex;
    width: 100%;
    height: auto;
}

.aboutme .left {
    width: 35%;
}

.aboutme .right {
    width: 65%;
    padding-left: 100px;
}

.h3-title {
    font-size: 32px;
    font-weight: bold;
    /* color: rgb(204, 117, 255); */
}

.h3-body {
    font-weight: 400;
    color: rgb(199, 199, 199);
    margin-bottom: 25px;
}

.text {
    color: rgb(175, 175, 175);
}

#skills-wrapper {
    display: none;
}
#log-wrapper {
    display: none;
}

@media (max-width: 1040px) {
}
