* {
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 80px;
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 1rem;
    align-items: center;
    z-index: 1000;
}

.container {
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 3px 1rem;
}

.navbar-collapse {
    display: flex !important;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    margin-left: auto !important;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;
    display: flex;
    list-style: none;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 1000;
}

.aboutme-wrapper {
    max-width: 1024px;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.aboutme {
    display: flex;
}

.description {
    margin: 0;
    padding: 0 1rem;
}

h2 {
    color: rgb(0, 98, 179);
}
